/* font-family: 'Arimo', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif; */

*,
*::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
}

.container {
  /* max-width: 1366px; */
  padding-left: 15.3rem;
  padding-right: 15.3rem;
}

@media screen and (max-width: 760px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 11rem;
}

.logo {
  width: 166.667px;
  height: 30px;
  display: inline-block;
}

@media screen and (max-width: 760px) {
  .logo {
    width: 111px;
    height: 20px;
  }
}

.logo__item {
  width: inherit;
  height: inherit;
}

/* .navbar {
} */

.navbar__list {
  display: flex;
  gap: 4.7rem;
}

@media screen and (max-width: 760px) {
  .navbar__list {
    gap: 3.1rem;
  }
}

.navbar__item {
  color: #292929;
  font-family: "Arimo", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 160%;
}

.navbar__item:hover {
  color: #44dcc1;
}

.navbar__link {
  text-decoration: none;
  color: inherit;
}

/* .main {
} */

.hero {
  padding-top: 16.8rem;
  min-height: 100vh;
  background-image: url(../img/Landing\ page\ [1366]\ 1.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 760px) {
  .hero {
    background-image: url(../img/Background\ 1.png);
  }
}

.hero__title {
  color: #29323f;
  font-family: "Rubik", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  margin-bottom: 3rem;
  max-width: 432px;
}

.hero__text {
  color: #6e6e6e;
  font-family: "Arimo", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
  margin-bottom: 4rem;
  max-width: 330px;
}

@media screen and (max-width: 760px) {
  .hero__title {
    text-align: center;
    font-size: 4rem;
  }

  .hero__text {
    text-align: center;
    font-size: 1.4rem;
  }
}

.form {
  max-width: 420px;
  position: relative;
}

.form__input {
  width: 100%;
}

.input {
  height: 52px;
  border-radius: 100px;
  border: 1px solid #ececec;
  background: #ececec;
  padding: 0 13.5rem 0 2.4rem;
  color: #292929;
  font-family: "Arimo", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
  outline: none;
}

.input:hover {
  border-color: #292929;
}

.input:focus {
  border-color: #44dcc1;
}

/* .input: {
  border-color: #292929;
} */

input::placeholder {
  color: #bababa;
  font-family: "Arimo", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}

.form__button {
  position: absolute;
  right: 2px;
  top: 2px;
}

.button {
  border-radius: 50px;
  border: 1px solid #292929;
  background-color: #292929;
  height: 48px;
  padding: 0 2.8rem;
  color: #fff;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 160%;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #44dcc1;
  border-color: #44dcc1;
}

.button:focus {
  background-color: #292929;
  border-color: #44dcc1;
}

.arrow-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 153px;
  bottom: 80px;
}

.arrow-button__icon {
  width: inherit;
  height: inherit;
  fill: #292929;
}

.arrow-button__icon:hover {
  fill: #44dcc1;
}

.arrow-button__icon:focus {
  fill: #292929;
  box-shadow: 0 0 0 1px #44dcc1;
}

.section-investors {
  background-color: #f8f8f8;
  padding-top: 1rem;
  padding-bottom: 5.1rem;
}

.section-investors__title {
  color: #29323f;
  font-family: "Rubik", sans-serif;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 4rem;
}

.section-investors__text {
  color: #6e6e6e;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3rem;
}

.section-investors__logo {
  display: flex;
  gap: 5.6rem 12.4rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* .investors {
} */

.investors__logo {
  width: auto;
  height: 43.99px;
}

.investors__item {
  width: inherit;
  height: inherit;
}

.section-call-to-try {
  background-color: #fff;
  margin-top: 6.4rem;
  margin-bottom: 6.3rem;
}

.section-call-to-try__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18.5rem;
}

.customer-img {
  width: 374px;
  height: 433px;
}

.customer-img__item {
  width: inherit;
  height: inherit;
}

.section-call-to-try__block {
  align-self: center;
}

.section-call-to-try__title {
  color: #29323f;
  font-family: "Rubik", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 3rem;
  max-width: 293px;
}

.section-call-to-try__text {
  color: #797979;
  font-family: "Arimo", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 4rem;
  max-width: 293px;
}

.section-feedback {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 12.2rem;
}

.section-feedback__wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.figure {
  margin-bottom: 2.8rem;
}

.figure__img {
  /* display: inline-block; */
  width: 120px;
  height: 115px;
  margin-bottom: 1.2rem;
}

.figure__caption {
  color: #333;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-align: center;
  margin-bottom: 0.4rem;
}

.figure__line {
  width: 83px;
  height: 1px;
  background-color: #333;
  margin: 0 auto;
}

.section-feedback__text {
  color: #333;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 820px;
  position: relative;
}

.section-feedback__text::before {
  content: "";
  background-image: url(../img/iconmonstr-quote-7\ 1.svg);
  width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -18px;
}

.section-feedback__text::after {
  content: "";
  background-image: url(../img/iconmonstr-quote-7\ 2.svg);
  width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  bottom: -20px;
  right: -18px;
}

.section-hiring {
  background-color: #f8f8f8;
  padding-top: 20.5rem;
  padding-bottom: 23.1rem;
  position: relative;
}

.section-hiring__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-hiring__title {
  color: #29323f;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 120%;
  max-width: 468px;
  margin-bottom: 3rem;
}

.section-hiring__text {
  color: #797979;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 468px;
  margin-bottom: 4.6rem;
  position: relative;
}

.section-hiring__text::after {
  content: "";
  background-image: url(../img/Vector\ 445.svg);
  width: 125px;
  height: 5px;
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 128px;
}

.section-hiring__button {
  max-width: 197px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* .button {
} */

.button__link {
  text-decoration: none;
  color: #fff;
}

.hiring-img {
  width: 85px;
  height: 85px;
}

.hiring-img__item {
  width: inherit;
  height: inherit;
}

.hiring-img--bottom-left {
  position: absolute;
  top: 493px;
  left: 345px;
}

.hiring-img--bottom-right {
  position: absolute;
  top: 479px;
  right: 155px;
}

.hiring-img--top-right {
  position: absolute;
  top: 205px;
  right: 312px;
}

.hiring-img--top-left {
  position: absolute;
  top: 257px;
  left: 155px;
}

.plus-button {
  width: 61px;
  height: 61px;
}

.plus-button__icon {
  width: inherit;
  height: inherit;
}

.plus-button--left {
  position: absolute;
  top: 157px;
  left: 315px;
}

.plus-button--right {
  position: absolute;
  top: 445px;
  right: 346px;
}

.footer {
  background-color: #f8f8f8;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* .container {
} */

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.logo__footer {
  width: 111px;
  height: 20px;
  margin-bottom: 3.2rem;
}

/* .logo {
}

.logo__item {
} */

.footer__socnet {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  margin-bottom: 3.2rem;
}

.socnet__link {
  width: 20px;
  height: 20px;
}

.socnet__item {
  width: inherit;
  height: inherit;
  fill: #000;
}

.socnet__item:hover {
  fill: #44dcc1;
}

.footer__line {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-bottom: 8rem;
}

.footer__text {
  color: #797979;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}

/* .navbar {
}

.navbar__list {
}

.navbar__item {
}

.navbar__link {
} */
